a{
	text-decoration:none;
}
body {
	background-color:#0c9888;
	background-image:url(https://img.9am.ro/images/slideshows/slide_308472_65292.jpg);
	background-position:center;
	background-size:cover;
	background-blend-mode:soft-light;
	font-family: sans-serif;
}
.titlu{
	display:block;
	text-align:center;
	color:white;
	font-size:30pt;
}
.menu2{
    
	margin:50px auto;
    display:table;
	width:300px;
	height:100px;
    background-color:#4caf50;
	color:white;
	font-family: sans-serif;
	font-size:20pt;
	font-weight:bold;
	border-radius:10px;
	transition: background-color 1000ms,color 1000ms;
}
.menu2 a{
    color:#f2f2f2;
}
.menu2:hover{
	background-color:rgba(255,255,255,1);
	color:darkgreen;
	cursor:pointer;
	transition: background-color 1000ms,color 1000ms;
}
.menu2 a:hover{
    color:black;
}
.a:link{
	color:white;
}
.a:visited{
	color:white;
}
.a:hover{
	color:#0c9888;
}
.a:active{
    color:#0c9888;
}
footer{
    display:block;
    text-align: center;
    background-color: #000;
    color:white;
    font-size: 15pt;
}
.title{
    text-align: center;
    color:white;
    margin:25px;
    padding: 20px;
    font-size: 30pt;
}